#form-group{
  margin: 0;
  text-transform: none;
   float: right;

}

#align{
  text-align:center;
}

.container {
  display:inline-block;
  zoom:1;
  display:inline;
}
.col-md-6{

  float:none;
  margin:auto;
}