<div class="container">
	<div class="col-lg-8 mx-auto   card-body ">
		<h1 class="mt-5">The list of books
		</h1>
	</div>
	<!-- Book list -->
	<table class="table">
		<thead>
			<tr>
				<th>ISBN</th>
				<th>Author</th>
				<th>Title</th>
				<th>Publisher</th>
				<th>Published_year</th>
				<th>Genre</th>
				<th>Price</th>
				<th>Updated_date</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let book of books">
				<td>{{ book.isbn }}</td>
				<td>{{ book.author }}</td>
				<td>{{ book.title }}</td>
				<td>{{ book.publisher }}</td>
				<td>{{ book.published_year }}</td>
				<td>{{ book.genre }}</td>
				<td>{{ book.price }}</td>
				<td>{{ book.updated_date }}</td>
				<!-- /book-details -->
				<td><a [routerLink]="['/book-edit', book._id]" class="btn btn-outline-dark">Edit</a>
					<button class="btn btn-outline-dark" type="button" (click)="deleteBook(book._id)">DELETE</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- service menu -->
<div class="col-lg-12 card-body p-10    ">
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active" id="nav-search-tab" data-toggle="tab" href="#nav-search" role="tab"
				aria-controls="nav-search" aria-selected="true">Search</a>
			<a class="nav-item nav-link" id="nav-add-tab" data-toggle="tab" href="#nav-add" role="tab"
				aria-controls="nav-add" aria-selected="false">Add</a>
		</div>
	</nav>

	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-search" role="tabpanel" aria-labelledby="nav-search-tab">
			<!-- for search  -->
			<div class="col-lg-12 card-body p-10    ">
				<form enctype="application/json" action="/book/search" method="get">
					<label for="search"> ◎ Search Item(title or isbn).</label>
					<div class="row">
						<div class="col">
							<input class="form-control" type="text" id="searchID">
            </div>
							<button type="search"  id="searchBt"  class="btn btn-outline-dark" disabled>Search</button>
						</div>
				</form>
			</div>
			<!-- search end  -->
		</div>

		<div class="tab-pane fade" id="nav-add" role="tabpanel" aria-labelledby="nav-add-tab">
			<!-- for addition   -->
			<div class="col-lg-12 card-body p-10    ">
				<form class="needs-validation" id="bookAdd" (ngSubmit)="saveBook()" #bookForm="ngForm" novalidate>
					<label for="addition"> ◎ Fill the text boxes to add.</label>
					<div class="form-row">
						<div class="col-md-4 mb-3">
							<select class="form-control" [(ngModel)]="book.genre"  name="sec_genre"> <!--name="sec_n" -->
            <option value="Romance/Erotica">Romance/Erotica</option>
            <option value="Crime/Mystery">Crime/Mystery</option>
            <option value="Religious/Inspirational">Religious/Inspirational</option>
            <option value="Science Fiction/Fantasy">Science Fiction/Fantasy</option>
            <option value="Horror">Horror</option>
            <option selected>Genre</option>
            </select>
						</div>

						<div class="col-md-4 mb-3">
							<input id="bookaddisbn" class="form-control" [(ngModel)]="book.isbn"  type="text" pattern="^[0-9-]*$" name="isbn" placeholder="ISBN" required>
							<div class="valid-feedback"> Looks good!</div>
							<div class="invalid-feedback">Please provide number with hyphen </div>
						</div>

						<div class="col-md-4 mb-3">
							<input class="form-control" type="text" [(ngModel)]="book.author" name="author"  pattern="^[a-zA-Z\s\.]*$" placeholder="Author" required>
							<div class="valid-feedback"> Looks good!</div>
							<div class="invalid-feedback">Please provide it(only letter or .). </div>
						</div>

						<div class="col-md-4 mb-3">
							<input class="form-control" type="text"  [(ngModel)]="book.title" name="title" pattern="^[a-zA-Z_0-9@\!#\$\^%&*()+=\-[]\\\';,\.\/\{\}\|\]*$" placeholder="Title" required>
							<div class="valid-feedback"> Looks good!</div>
							<div class="invalid-feedback">Please provide it. </div>
						</div>

						<div class="col-md-4 mb-3">
							<input class="form-control" type="text"   [(ngModel)]="book.publisher" name="publisher" pattern="^[a-zA-Z\s\.]*$" placeholder="Publisher" required>
							<div class="valid-feedback"> Looks good!</div>
							<div class="invalid-feedback">Please provide it(only letter or .). </div>
						</div>


						<div class="col-md-4 mb-3">
							<input class="form-control" type="text"  [(ngModel)]="book.published_year" name="publishedyear" pattern="^[0-9]*$" placeholder="Publisher year" required>
							<div class="valid-feedback"> Looks good!</div>
							<div class="invalid-feedback">Please provide it(only number). </div>
						</div>

						<div class="col-md-4 mb-3">
							<input class="form-control" type="text" [(ngModel)]="book.price" name="price" pattern="^[0-9]*$" placeholder="price" required>
							<div class="valid-feedback"> Looks good!</div>
							<div class="invalid-feedback">Please provide it(only number). </div>
						</div>

						<div class="form-group">
           <button type="Add" class="btn btn-outline-dark">Add</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
