<!-- <div class="container">
	<h1>◎ Fill the text boxes to add.</h1>
	<div class="form-row">
		<form (ngSubmit)="saveBook()" #bookForm="ngForm">
			<div class="col-md-4 mb-3">

			</div>

			<div class="col-md-4 mb-3">
				<input id="bookaddisbn" class="form-control" [(ngModel)]="book.isbn"  type="text" pattern="^[0-9-]*$" name="isbn" placeholder="ISBN" required>
				<div class="valid-feedback"> Looks good!</div>
				<div class="invalid-feedback">Please provide number with hyphen </div>
			</div>

			<div class="col-md-4 mb-3">
				<input class="form-control" type="text" [(ngModel)]="book.author" name="author"  pattern="^[a-zA-Z\s\.]*$" placeholder="Author" required>
				<div class="valid-feedback"> Looks good!</div>
				<div class="invalid-feedback">Please provide it(only letter or .). </div>
			</div>

			<div class="col-md-4 mb-3">
				<input class="form-control" type="text"  [(ngModel)]="book.title" name="title" pattern="^[a-zA-Z_0-9@\!#\$\^%&*()+=\-[]\\\';,\.\/\{\}\|\]*$" placeholder="Title" required>
				<div class="valid-feedback"> Looks good!</div>
				<div class="invalid-feedback">Please provide it. </div>
			</div>

			<div class="col-md-4 mb-3">
				<input class="form-control" type="text"   [(ngModel)]="book.publisher" name="publisher" pattern="^[a-zA-Z\s\.]*$" placeholder="Publisher" required>
				<div class="valid-feedback"> Looks good!</div>
				<div class="invalid-feedback">Please provide it(only letter or .). </div>
			</div>


			<div class="col-md-4 mb-3">
				<input class="form-control" type="text"  [(ngModel)]="book.published_year" name="publishedyear" pattern="^[0-9]*$" placeholder="Publisher year" required>
				<div class="valid-feedback"> Looks good!</div>
				<div class="invalid-feedback">Please provide it(only number). </div>
			</div>

			<div class="col-md-4 mb-3">
				<input class="form-control" type="text" [(ngModel)]="book.price" name="price" pattern="^[0-9]*$" placeholder="price" required>
				<div class="valid-feedback"> Looks good!</div>
				<div class="invalid-feedback">Please provide it(only number). </div>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid">Save</button>
			</div>
		</form>
	</div>
</div> -->
